.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 60%;
    margin: 0 auto;
}

.article-container article{
    min-width: 200px;
}

.article-container article figure img{
    width: 100%;
    height: 100%;
}